body {
     background-color: #000;
     color: #fff;
}
 .navbar {
     border-bottom: #106F89 solid 3px;
     opacity: .7;
}
 .home-inner {
     padding: 90px;
}
 #home-section {
     background: url('../imgs/top.png') no-repeat;
     min-height: 100vh;
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
     background-size: 100% 100%;
}
 .nav-item:hover {
     animation-name: animation-btn;
     animation-duration: .5s;
     animation-iteration-count: unset;
     animation-timing-function: ease-in;
}
 .cartelera-img:hover {
     animation-name: animation-btn;
     animation-duration: .5s;
     animation-iteration-count: unset;
     animation-timing-function: ease-in;
}
 @keyframes animation-btn{
     0%{
         transform: translate(0px);
    }
     50%{
         transform: translateY(-10px);
    }
     100%{
         transform: translate(0px);
    }
}
 @media (max-width: 992px) {
     .home-inner {
         padding: 100px;
    }
}
 .overlay {
}
 .cartelera {
     padding-bottom: 20px;
}
 .carousel-cine {
     background-size: 100% 100%;
}
 .login {
    /* background-color: #c0392b;
     */
     background-color: rgba(16, 111, 137 ,.7);
}
 .social {
     position: fixed;
     top: 200px;
     z-index: 100;
     left: 0;
}
 #facebook a {
     background: #3b5998;
     padding: 10px 20px;
     color: #fff;
     text-decoration: none;
     width: 55px;
     -webkit-transition:all 500ms ease-in;
     -o-transition:all 500ms ease-in;
     transition:all 500ms ease-in;
}
 #facebook a:hover {
     padding: 10px 50px;
}
 #twitter a {
     background: #55acee;
     padding: 10px 20px;
     color: #fff;
     text-decoration: none;
     width: 55px;
     -webkit-transition: all 500ms ease-in;
     -o-transition: all 500ms ease-in;
     transition: all 500ms ease-in;
}
 #twitter a:hover {
     padding: 10px 50px;
}
 #instagram a {
     background: #e95950;
     padding: 10px 20px;
     color: #fff;
     text-decoration: none;
     width: 55px;
     -webkit-transition:all 500ms ease-in;
     -o-transition:all 500ms ease-in;
     transition:all 500ms ease-in;
}
 #instagram a:hover {
     padding: 10px 50px;
}
/*------Scroll bar---------------------*/
 ::-webkit-scrollbar {
     width: 7px;
     height: 7px;
}
 ::-webkit-scrollbar-button {
     width: 0px;
     height: 0px;
}
 ::-webkit-scrollbar-thumb {
     background: #2F3B47;
     border: 0px none #ffffff;
     border-radius: 50px;
}
 ::-webkit-scrollbar-thumb:hover {
     background: #2F3B47;
}
 ::-webkit-scrollbar-thumb:active {
     background: #2F3B47;
}
 ::-webkit-scrollbar-track {
     background: #3F5060;
     border: 0px none #ffffff;
}
 ::-webkit-scrollbar-track:hover {
     background: #3F5060;
}
 ::-webkit-scrollbar-track:active {
     background: #3F5060;
}
 ::-webkit-scrollbar-corner {
     background: transparent;
}
/*Butacas*/
 .butaca-cine1 {
     width: 91%;
}
 .butaca-cine2 {
     text-align: center;
     width: 1122px;
}
 .butaca-cine-VIP {
     width: 30px;
     background-color: #9C27B0;
     text-align: center;
     color: #FFF;
}
 .butaca-cine-Preferente {
     width: 30px;
     background-color: #00BCD4;
     text-align: center;
     color: #FFF;
}
 .butaca-cine-Luneta {
     width: 30px;
     background-color: #FFEB3B;
     text-align: center;
     color: #FFF;
}
 .butaca-cine-Galeria {
     width: 30px;
     background-color: #F44336;
     text-align: center;
     color: #FFF;
}
 .butaca-cine-General {
     width: 30px;
     background-color: #673AB7;
     text-align: center;
     color: #FFF;
}
 .butaca-cine4 {
     width: 35px;
}
 .butaca-cine5 {
     width: 36px;
}
 .butaca-cine6 {
     width: 30px;
     height: 34px;
}
 .butaca-cine7 {
     width: 36px;
     height: 34px;
}
 .butaca-cine8 {
     width: 35px;
     height: 34px;
}
 .butaca-cine10 {
     width: 32px;
}
 .butaca-cine11 {
     width: 32px;
     height: 34px;
}
 .butaca-cine12 {
     width: 34px;
}
 .butaca-cine13 {
     width: 34px;
     height: 34px;
}
 .nuevoEstilo1 {
     border-top-style: solid;
}
 .butaca-cine14 {
     width: 35px;
     height: 34px;
     text-align: center;
}
 .butaca-cine15 {
     width: 35px;
     text-align: center;
}
 .butaca-cine16 {
     text-align: center;
}
 .butaca-cine17 {
     width: 34px;
     text-align: center;
}
 .butaca-cine18 {
     width: 32px;
     text-align: center;
}
 .butaca-cine19 {
     width: 36px;
     text-align: center;
}
 .highlighted {
     background-color:grey;
}
/*Tabs*/
 section .section-title {
     text-align: center;
     color: #007b5e;
     margin-bottom: 50px;
}
 #tabs{
     color: #106F89;
}
 #tabs h6.section-title{
     color: #106F89;
}
 #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
     color: #FFF;
     background-color: #106F89;
     border-color: transparent transparent #f3f3f3;
     border-bottom: 4px solid !important;
     font-size: 20px;
     font-weight: bold;
}
 #tabs .nav-tabs .nav-link {
     border: 1px solid transparent;
     border-top-left-radius: .25rem;
     border-top-right-radius: .25rem;
     color: #2d2d2d;
     font-size: 20px;
}
/*Cinema Seat*/
 .theatre {
     display: flex;
     position: absolute;
     top: 150px;
     left: 50%;
     transform: translate(-50%, -50%);
}
 .cinema-seats {
     display: flex;
}
 .cinema-seats .seat {
     cursor: pointer;
}
 .cinema-seats .seat:hover:before {
     content: '';
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background: rgba(198, 199, 201, 0.8);
     border-radius: 7px;
}
 .cinema-seats .seat.active:before {
     content: '';
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background: rgba(158, 197, 20, 0.8);
     border-radius: 7px;
}
 .left .cinema-row {
     transform: skew(-15deg);
     margin: 0 6px;
}
 .left .seat {
     width: 35px;
     height: 50px;
     border-radius: 7px;
     background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #b54041, #f3686a);
     margin-bottom: 10px;
     transform: skew(20deg);
     margin-top: -32px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
 .left .row-2 {
     transform: skew(-13deg);
}
 .left .row-2 .seat {
     transform: skew(18deg);
}
 .left .row-3 {
     transform: skew(-12deg);
}
 .left .row-3 .seat {
     transform: skew(16deg);
}
 .left .row-4 {
     transform: skew(-11deg);
}
 .left .row-4 .seat {
     transform: skew(15deg);
}
 .left .row-5 {
     transform: skew(-10deg);
}
 .left .row-5 .seat {
     transform: skew(12deg);
}
 .left .row-6 {
     transform: skew(-9deg);
}
 .left .row-6 .seat {
     transform: skew(10deg);
}
 .left .row-7 {
     transform: skew(-7deg);
}
 .left .row-7 .seat {
     transform: skew(8deg);
}
 .right {
     margin-left: 70px;
}
 .right .cinema-row {
     transform: skew(7deg);
     margin: 0 6px;
}
 .right .seat {
     width: 35px;
     height: 50px;
     border-radius: 7px;
     background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #b54041, #f3686a);
     margin-bottom: 10px;
     transform: skew(-8deg);
     margin-top: -32px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.seate {
	width: 35px;
     height: 50px;
     border-radius: 7px;
     background: #000;
     margin-bottom: 10px;
     transform: skew(9deg);
     margin-top: -32px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
 .right .row-2 {
     transform: skew(9deg);
}
 .right .row-2 .seat {
     transform: skew(-10deg);
}
 .right .row-3 {
     transform: skew(10deg);
}
 .right .row-3 .seat {
     transform: skew(-12deg);
}
 .right .row-4 {
     transform: skew(11deg);
}
 .right .row-4 .seat {
     transform: skew(-15deg);
}
 .right .row-5 {
     transform: skew(12deg);
}
 .right .row-5 .seat {
     transform: skew(-16deg);
}
 .right .row-6 {
     transform: skew(13deg);
}
 .right .row-6 .seat {
     transform: skew(-18deg);
}
 .right .row-7 {
     transform: skew(15deg);
}
 .right .row-7 .seat {
     transform: skew(-20deg);
}

.btn_registro{
    cursor: pointer;
}
 