<!-- DataTables -->
<script th:src="@{assets/js/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{assets/js/datatables/dataTables.bootstrap4.js}"></script>
<script th:src="@{assets/js/datatables/dataTables.responsive.js}"></script>
<script th:src="@{assets/js/datatables/responsive.bootstrap4.js}"></script>

<!--Dat table eventos-->
<script type="text/javascript">
    $('.example').DataTable({
        "lengthMenu": [
            [5, 10, 15, -1],
            [5, 10, 15, "All"]
        ]
    });
</script>
