<!-- Bootstrap CSS V4.1.3 -->
<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<!--Style CSS-->
<link rel="stylesheet" th:href="@{/assets/css/style.css}">



<!-- DataTables -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/datatables/dataTables.bootstrap4.css}" />

<link rel="stylesheet" type="text/css" th:href="@{assets/css/datatables/responsive.bootstrap4.css}" />
