<!DOCTYPE html>
<html lang="es_ES" xmlns:th="http://www.thymeleaf.org/">

<head>
    <title>Jara Teatro</title>
    <div th:replace="fragments/header.html"></div>
    <div th:replace="fragments/css.html"></div>
</head>

<body>
<div class="social">
    <div id="facebook">
        <a href="https://www.facebook.com/CEA-406488909760739/?modal=admin_todo_tour" target="_blank" class="fab fa-facebook-f"></a>
    </div>
    <div id="twitter">
        <a href="https://twitter.com/acropolispuebla?lang=es" target="_blank" class="fab fa-twitter"></a>
    </div>
    <div id="instagram">
        <a href="https://www.instagram.com/chuchin_19/?hl=es-la" target="_blank" class="fab fa-instagram"></a>
    </div>
</div>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" th:href="${host +'/'}">Centro de Espectáculos Atlixco</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-start" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto text-center">
            <a class="nav-item nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
        </div>
    </div>
</nav>
<header id="home-section">
    <section class="bg-light text-muted py-5" id="boletos-section" style="height: 900px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-12">
                    <h1 class="text-center">Bienvenido <strong>chems</strong></h1>
                    <form>
                        <div class="form-group">
                            <label for="asientos">Seleccione sección:</label>
                            <select id="inputState" class="form-control">
                                <option value="">Seleccione un área de su preferencia</option>
                                <option>VIP MG</option>
                                <option>VIP</option>
                                <option>Preferente A</option>
                                <option>Preferente B</option>
                                <option>Luneta</option>
                                <option>Galería</option>
                                <option>General</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="asientos">Asientos</label>
                            <input type="number" min="1" max="10" value="1" class="form-control" id="asientos">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Obra:</label>
                                <select id="inputState" class="form-control">
                                    <option value="">Seleccione una obra</option>
                                    <option>Rey León</option>
                                    <option>Una familia de 10</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Hora:</label>
                                <select id="inputState" class="form-control">
                                    <option value="">Seleccione una hora</option>
                                    <option>1:00 PM</option>
                                    <option>2:00 PM</option>
                                    <option>3:00 PM</option>
                                    <option>4:00 PM</option>
                                    <option>5:00 PM</option>
                                    <option>6:00 PM</option>
                                    <option>7:00 PM</option>
                                </select>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-12">
                    <h1 class="text-center">Asientos</h1>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Área:</label>
                                <input type="text" value="VIP" class="form-control" id="asientos" readonly>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Obra:</label>
                                <input type="text" value="El Rey León" class="form-control" id="asientos" readonly>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputPassword4">Hora:</label>
                                <input type="text" value="1:00 PM" class="form-control" id="asientos" readonly>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col"><img src="assets/imgs/vacio.jpg" />
                                <p>Vacío</p>

                            </div>
                            <div class="col"><img src="assets/imgs/libre.jpg" />
                                <p>Seleccionado</p>
                            </div>
                            <div class="col"><img src="assets/imgs/ocupado.jpg" />
                                <p>Ocupado</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="theatre">

                                <div class="cinema-seats left">
                                    <div class="cinema-row row-1">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div><br>

                                    <div class="cinema-row row-2">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-3">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-4">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-5">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-6">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-7">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>
                                </div>

                                <div class="cinema-seats right">
                                    <div class="cinema-row row-1">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-2">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-3">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-4">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-5">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-6">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-7">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</header>
<footer class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 p-5">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/coca.jpg}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/huawei.jpg}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/kia.png}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/lg.png}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/samsung.jpg}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/visa.png}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/master.jpg}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/telcel.jpg}" style="width:90%;"/>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</footer>
<div th:replace="fragments/javascritp.html"></div>
</body>
</html>