<!DOCTYPE html>
<html lang="es_ES" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Eventos</title>
    <div th:replace="fragments/header.html"></div>
    <div th:replace="fragments/css.html"></div>
</head>
<body>
<div class="social">
    <div id="facebook">
        <a href="https://www.facebook.com/CEA-406488909760739/?modal=admin_todo_tour" target="_blank" class="fab fa-facebook-f"></a>
    </div>
    <div id="twitter">
        <a href="https://twitter.com/acropolispuebla?lang=es" target="_blank" class="fab fa-twitter"></a>
    </div>
    <div id="instagram">
        <a href="https://www.instagram.com/chuchin_19/?hl=es-la" target="_blank" class="fab fa-instagram"></a>
    </div>
</div>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" th:href="${host +'/'}">Centro de Espectáculos Atlixco</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-start" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto text-center">
            <a class="nav-item nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
        </div>
    </div>
</nav>
<header id="home-section">
    <section class="bg-light text-muted py-5" id="tabs" style="height: 810px;">

        <div class="container">
            <h6 class="section-title h1">Eventos</h6>
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Eventos</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Lista de Eventos</a>

                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <form class="was-validated" th:object="${eventoobj}" th:action="@{/eventoguardar}" method="post">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="nombre">Título:</label>
                                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese el título" th:field="*{nombre}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="fechaHora">Fecha y Hora:</label>
                                        <input type="datetime-local" class="form-control" id="fechaHora" th:field="*{fechaHora}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="Lugar">Lugar:</label>
                                        <input type="text" class="form-control" id="lugar" th:field="*{lugar}">
                                    </div>
                                    <div class="form-group col-md-8">

                                        <label for="Lugar">Seleccione una imagen</label>
                                        <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="urlImagen" required aria-describedby="inputGroupFileAddon01" lang="es" th:field="*{urlImagen}">
                                            <label class="custom-file-label" for="urlImagen">Archivo de imagen</label>
                                            <div class="invalid-feedback">Seleccione un archivo</div>
                                        </div>
                                    </div>

                                </div>

                                <button type="submit" class="btn btn-primary float-right">Registrar</button>
                            </form>

                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <table id="example" class=" example table table-striped table-sm dt-responsive nowrap" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Fecha y Hora</th>
                                    <th>Lugar</th>
                                    <th>Imagen</th>
                                    <th>Opciones</th>
                                </tr>
                                </thead>
                                <tbody th:each="eve : ${listaEvento}">
                                <tr>
                                    <td th:text="${eve.getNombre()}"></td>
                                    <td th:text="${eve.getFechaHora()}"></td>
                                    <td th:text="${eve.getLugar()}"></td>
                                    <td th:text="${eve.getUrlImagen()}"></td>
                                    <td>
                                        <button class="btn btn-warning text-white btn-sm editar" data-target="#myModal"
                                                data-toggle="modal" type="button"><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</header>
<!-- Modal para editar -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    Editar datos
                </h4>
                <button class="close" data-dismiss="modal" type="button">
                    ×
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST" role="form" id="add-editar">
                    <div class="">
                        <div class="box-body">
                            <div class="form-group">
                                <label>
                                    Nombre
                                </label>
                                <input class="form-control" type="text" id="modal_nombre" value="" readonly>
                            </div>
                            <div class="form-group">
                                <label>
                                    Fecha
                                </label>
                                <input class="form-control" type="text" id="modal_fecha" value=""
                                       style="text-transform:uppercase">
                            </div>
                            <div class="form-group">
                                <label>
                                    Lugar
                                </label>
                                <input class="form-control" type="text" id="modal_lugar" value="" readonly>
                            </div>
                            <div class="form-group">
                                <label>
                                    Imagen
                                </label>
                                <input class="form-control" type="text" id="modal_imagen" value="No image" readonly>
                            </div>
                            <input type="hidden" id="evento_hidden" value="">
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-danger mr-auto" data-dismiss="modal" type="button">
                    Cerrar
                </button>
                <button class="btn btn-info save " type="button">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Fin del Modal para la edicion de datos  -->
<footer class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 p-5">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/coca.jpg}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/huawei.jpg}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/kia.png}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/lg.png}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/samsung.jpg}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/visa.png}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/master.jpg}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/telcel.jpg}" style="width:90%;"/>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</footer>

<div th:replace="fragments/javascritp.html"></div>
<div th:replace="script_js/evento_js.html"></div>
</body>
</html>