<!DOCTYPE html>
<html lang="es_ES" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Jara Teatro</title>
    <div th:replace="fragments/header.html"></div>
    <div th:replace="fragments/css.html"></div>
</head>
<body>
<div class="social">
    <div id="facebook"><a href="https://www.facebook.com/CEA-406488909760739/?modal=admin_todo_tour" target="_blank"
                          class="fab fa-facebook-f"></a></div>
    <div id="twitter"><a href="https://twitter.com/acropolispuebla?lang=es" target="_blank" class="fab fa-twitter"></a>
    </div>
    <div id="instagram"><a href="https://www.instagram.com/chuchin_19/?hl=es-la" target="_blank"
                           class="fab fa-instagram"></a></div>
</div>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Centro de Espectáculos Atlixco</a>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Buscar Evento"
               aria-label="Search">
        <button class="btn btn-outline-dark text-white btn-sm my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-start" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto text-center">
            <a class="nav-item nav-link active" th:href="${host + '/'}"> <i class="fas fa-home"></i> Inicio</a>
            <a class="nav-item nav-link" th:href="${host+'/evento'}"><i class="fas fa-film"></i> Evento</a>
            <a class="nav-item nav-link" th:href="${host+'/boleto'}"><i class="fas fa-info-circle"></i> Boletos</a>
            <a class="nav-item nav-link" href="#noticias-section"><i class="far fa-newspaper"></i> Noticias</a>
        </div>
    </div>
</nav>
<header id="home-section">
    <div class="overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 mt-4"></div>
                    <div class="col-md-4 regla col-sm-12 mt-4 mb-2">
                        <div class="card text-center d-md-block d-sm-block login" th:if="${mostrar}">
                            <div th:if="${param.error}">
                                <div class="alert alert-danger">
                                    Credenciales invalidas
                                </div>
                            </div>
                            <div class="card-body">
                                <h3>Iniciar Sesión</h3>
                                <form th:action="@{/login}" method="post">
                                    <div class="form-group">
                                        <input type="text" name="username" id="username"
                                               class="form-control form-control-lg" placeholder="Usuario" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password"
                                               class="form-control form-control-lg" placeholder="Contraseña">
                                    </div>
                                    <p class="float-right btn_registro"><a data-toggle="modal" data-target="#exampleModal">Registrarme</a>
                                    </p>
                                    <button type="submit" class="btn btn-outline-light btn-block">Iniciar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="cartelera-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100  carousel-cine"
                                 th:src="@{assets/imgs/banner1.jpg?auto=yes&bg=777&fg=555&text=First slide}"
                                 alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 carousel-cine"
                                 th:src="@{assets/imgs/banner2.jpg?auto=yes&bg=666&fg=444&text=Second slide}"
                                 alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 carousel-cine"
                                 th:src="@{assets/imgs/banner3.jpg?auto=yes&bg=555&fg=333&text=Third slide}"
                                 alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 carousel-cine"
                                 th:src="@{assets/imgs/wicked.jpg?auto=yes&bg=555&fg=333&text=Third slide}"
                                 alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 carousel-cine"
                                 th:src="@{assets/imgs/reyleon.jpg?auto=yes&bg=555&fg=333&text=Third slide}"
                                 alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <br>
                <div class="cartelera">
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/1.jpg}"
                                                     style="width:90%;"/></a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/2.jpg}"
                                                     style="width:90%;"/></a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/3.jpg}"
                                                     style="width:90%;"/></a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/4.jpg}"
                                                     style="width:90%;"/></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/5.jpg}"
                                                     style="width:90%;"/></a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/6.jpg}"
                                                     style="width:90%;"/></a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/7.jpg}"
                                                     style="width:90%;"/></a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/8.gif}"
                                                     style="width:90%;"/></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/9.jpg}"
                                                     style="width:90%;"/></a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/10.jpg}"
                                                     style="width:90%;"/></a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/11.jpg}"
                                                     style="width:90%;"/></a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/12.jpg}"
                                                     style="width:90%;"/></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/13.jpg}"
                                                     style="width:90%;"/></a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/14.jpg}"
                                                     style="width:90%;"/></a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/15.jpeg}"
                                                     style="width:90%;"/></a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/16.jpg}"
                                                     style="width:90%;"/></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="bg-light text-muted py-5" id="noticias-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-12">
                <h1 class="text-center">Noticias</h1>
                <!--Item-->
                <div class="d-flex flex-row">
                    <div class="p-4">
                        <h2>VIAJE AL ARTE COLONIAL DE AMÉRICA</h2>
                        <p class="text-justify">Quizás sea cierto que la visibilización del arte producido en América
                            Latina ha sido un curioso rebobinar del relato de delante hacia detrás. De hecho, en los
                            años 90 del siglo XX el arte contemporáneo producido en esa área geográfica empezaba a
                            desplegarse con fuerza en Nueva York, entonces el lugar de producción y transacción por
                            antonomasia en el panorama internacional. Los jóvenes artistas brasileños o cubanos se
                            convertían en presencia recurrente y la escena artística neoyorquina se tambaleaba, como el
                            que presiente cambios radicales. Los artistas latinoamericanos habían llegado para quedarse:
                            de una presencia al principio tímida en algunas Bienales del Whitney, se pasaba a un interés
                            creciente en galerías, salas de subastas o instituciones como The New Museum.</p>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/not1.jpg}"/></a>
                    </div>
                </div>
                <br>
                <div class="d-flex flex-row">
                    <div class="col-md-3">
                        <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/not2.jpg}"
                                         style="width: 110%"/></a>
                    </div>
                    <div class="p-4 ">
                        <h2>ABREN CONVOCATORIA PARA PREMIO DE LITERATURA INDÍGENA DE AMÉRICA</h2>
                        <p class="text-justify">
                            Guadalajara, Jal. La Universidad de Guadalajara, en coordinación con la Secretaría de
                            Cultura del gobierno federal y otras cuatro instituciones, anunció la apertura de la sexta
                            convocatoria del Premio de Literaturas Indígenas de América (PLIA) 2018, dotado con un
                            estímulo de 300 mil pesos. En esta edición la novedad es que se premiará una obra en el
                            género narrativo y no se enfocará en la trayectoria como ha sido común, para con ello tratar
                            de garantizar una mayor participación con el objetivo de “conservar y difundir el legado de
                            los pueblos originarios en el arte literario”. Gabriel Pacheco Salvador, presidente de la
                            Comisión Interinstitucional del PLIA, dijo que se decidió premiar una obra inédita en el
                            género narrativo “porque hemos revisado que en las otras ediciones, sobre todo en novela,
                            teatro, ensayo, que también están incluidas en el convenio general, no son tan atractivos”.
                        </p>
                    </div>

                </div>
                <!--Item-->
                <div class="d-flex flex-row">
                    <div class="p-4">
                        <h2>MÚSICA FORJADA EN EL FIRMAMENTO</h2>
                        <p class="text-justify">
                            La cantautora María Rodés vuelve cuatro años después con 'Eclíptica', disco que ahonda en la
                            figura de su tío bisabuelo, el astrónomo Lluís Rodés Aunque París la vio nacer como
                            cantautora, es en España donde María Rodés(Barcelona, 1986) ha desarrollado su vocación. El
                            amor le hizo conocer la ciudad francesa desde el prisma más bohemio, quitándose la vergüenza
                            en jam sessionsy haciendo sus pinitos en la guitarra y en las letras. "Olvidé la estúpida
                            creencia de que, por haber salido de un pueblo de 3.000 habitantes, el arte era para otros",
                            explica con ese aire desenfadado y un aura angelical que inunda inevitablemente el bar donde
                            se produce la entrevista. Ahora, 11 años después, se caracteriza por ser una artista
                            polifacética, que se mueve en diferentes géneros musicales, desde la copla (María canta
                            copla, 2014), hasta el indie folk, y que toca casi todas las disciplinas del arte. En esta
                            ocasión, queriendo salir de la melancolía que la ha acompañado todo este tiempo, publica su
                            cuarto disco en solitario, Eclíptica, en el que ahonda en la figura de su tío bisabuelo, el
                            astrónomoLluís Rodés.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img class="cartelera-img" th:src="@{assets/imgs/not3.jpg}"
                                         style="width: 110%"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrarme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style=" color: #106F89">
  <i class="fas fa-times"></i>
</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" id="add_user" method="post">

                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre (s)" required>
                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="apPaterno">Apellido Paterno</label>
                            <input type="text" class="form-control" id="apPaterno" placeholder="Apellido Paterno" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="apMaterno">Apellido Materno</label>
                            <input type="text" class="form-control" id="apMaterno" placeholder="Apellido Materno" required>
                        </div>

                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-12">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" required>
                        </div>

                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="contrasenia">Contraseña</label>
                            <input type="password" class="form-control" id="contrasenia" placeholder="Contraseña" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="confirmarContrasenia">Confirmar Contraseña</label>
                            <input type="password" class="form-control" id="confirmarContrasenia"
                                   placeholder="Confirmar Contraseña" required>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary btn_submit" type="submit" >Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 p-5">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/coca.jpg}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/huawei.jpg}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/kia.png}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/lg.png}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/samsung.jpg}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/visa.png}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/master.jpg}" style="width:90%;"/>
                </div>
                <div class="col-md-1">
                    <img th:src="@{assets/imgs/telcel.jpg}" style="width:90%;"/>
                </div>
                <div class="col-md-2">

                </div>

            </div>
        </div>
    </div>
</footer>
<div th:replace="fragments/javascritp.html"></div>
<div th:replace="script_js/index_js.html"></div>
</body>
</html>